
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
<div class="container-fluid">

    <div class="form-group">
        <label for="reg">Enter Registration Number</label>
        <input type="text" class="form-control" id="regplate" name="regplate" placeholder="XX18 ABC" style="text-transform:uppercase">
    </div>
    <button id="searchcars" type="submit" class="btn btn-primary">Submit</button>

    <div id="dvPartialView"></div>
</div>


</body>
</html>
